In [27]:
import pandas as pd

In [28]:
people = {
    "first": ["Akshay", "Sahaj", "Darshit"],
    "last": ["Savaliya", "Patel", "Patel"],
    "email": ["akshaysavaliya@gmail.com", "sahajpatel@gmail.com", "darshitpatel@gmail.com"]
}

In [29]:
df = pd.DataFrame(people)
df

     first      last                     email
0   Akshay  Savaliya  akshaysavaliya@gmail.com
1    Sahaj     Patel      sahajpatel@gmail.com
2  Darshit     Patel    darshitpatel@gmail.com

In [30]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [31]:
# If we want to change all column nemes than
df.columns = ['first_name', 'last_name', 'email']
df

  first_name last_name                     email
0     Akshay  Savaliya  akshaysavaliya@gmail.com
1      Sahaj     Patel      sahajpatel@gmail.com
2    Darshit     Patel    darshitpatel@gmail.com

In [32]:
# If we want to change only a specific column nemes only
df.rename(columns={'first_name': 'first', 'last_name': 'last'}, inplace=True)
df

     first      last                     email
0   Akshay  Savaliya  akshaysavaliya@gmail.com
1    Sahaj     Patel      sahajpatel@gmail.com
2  Darshit     Patel    darshitpatel@gmail.com

In [33]:
df.loc[2]

first                   Darshit
last                      Patel
email    darshitpatel@gmail.com
Name: 2, dtype: object

In [34]:
# If we want to update this row

# df.loc[2]=['jay']   # 2	jay	jay	jay

df.loc[2] = ['Jay', 'Dudhat', 'jaydudhat@gmail.com']
df

    first      last                     email
0  Akshay  Savaliya  akshaysavaliya@gmail.com
1   Sahaj     Patel      sahajpatel@gmail.com
2     Jay    Dudhat       jaydudhat@gmail.com

In [35]:
# What is we want to change only a few values not entire row

df.loc[2, ['last', 'email']] = ['Patel', 'jayp@gmail.com']
df

    first      last                     email
0  Akshay  Savaliya  akshaysavaliya@gmail.com
1   Sahaj     Patel      sahajpatel@gmail.com
2     Jay     Patel            jayp@gmail.com